/* front-end/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

#question-form,
#exam-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
